<div *ngIf="selectedBatchTopic!=undefined" class="modal-dialog modal-lg">

    <div class="modal-content">

        <div class="modal-header">
            <h4 class="modal-title" id="modalLabel">Send Email for {{selectedBatch.batchName}} Batch on topic {{selectedBatchTopic.topicModel.topicTitle}}
            </h4>
            <button type="button" class="close" data-dismiss="modal" id="closeEmailDialog" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <h5>Preview</h5>
                        </div>
                        <div class="row">
                            <img src="https://s3.amazonaws.com/ixact-production-marketing-morris/wp-content/uploads/2018/05/email-print-mail.jpg" style="width: 350px; height: 400px; ">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Email Template</label>
                                    <select class="form-control" (change)="onChange($event)" style="width: 100%;">
                                        <option selected="selected">Select The Email Template</option>
                                        <option *ngFor="let template of templates" value="{{template.templateName}}">
                                            {{template.templateName}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Participant Status</label>
                                    <select class="form-control" (change)="onStatusChange($event)" style="width: 100%;">
                                        <option selected="selected">Select The Status Of Participant</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                        <option>All (Active+Inactive)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Enter Subject" [(ngModel)]="subject" disabled>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" (click)="sendEmail()">Send
                                    Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>