<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Program-Batches</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="form-inline">
                <div class="form-group col-sm-10">
                    <label>Program &nbsp;</label>

                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                        <option value="0" selected disabled>Choose Program</option>
                        <option *ngFor="let program of programs" value="{{program.id}}">{{program.name | uppercase}}</option>
                    </select>
                </div>

            </form>

        </div>

        <div *ngIf="display" class="card-body ">

            <div *ngIf="message!=null" [class]="styleAlert" role="alert">
                {{message}}
            </div>

            <button type="button" (click)="createBatch()" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#modelId">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Batch
           </button>
            <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100% " cellspacing="0 ">
                    <thead class="bg-dark" style="color: white;">
                        <tr>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let batch of batches">
                            <td>{{batch.startDate}}</td>
                            <td>{{batch.endDate}}</td>
                            <td>{{batch.batchName}}</td>
                            <td>{{batch.batchCode}}</td>
                            <td>
                                <div class="row">
                                    <button type="button" (click)="updateBatch(batch)" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modelId"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" (click)="deleteBatch(batch)" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#modelId"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <app-batch [create]="create" [update]="update" [delete]="delete" [selectedBatch]="selectedBatch" [selectedProgram]="selectedProgram" (batchEvent)="batchEventAck($event)"></app-batch>
</div>