<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Speakers</h1>

    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{dialogTitle}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <app-speaker [speaker]="selectedSpeaker" [isEdit]="isEdit" (saveEvent)="saveSpeakerAck($event)"></app-speaker>
                </div>
                <div class="modal-footer">
                    <button type="button" id="closePopup" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body ">
            <div class="row" *ngIf="showMsg">
                <div class="col-xs-12">
                    <p class="alert alert-success">
                        <strong [ngClass]="FadeOutMessage()">Added Successfully</strong>
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#modelId" (click)="createSpeaker()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Speaker
            </button>
            <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100% " cellspacing="0 ">
                    <thead class="bg-dark" style="color: white;">
                        <tr>
                            <th *ngFor="let col of speakerColumns">{{col}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let speaker of speakers">

                            <td>{{speaker.speakerId}}</td>
                            <td>{{speaker.speakerName}}</td>
                            <td>{{speaker.speakerEmail}}</td>
                            <td>{{speaker.speakerProfile}}</td>
                            <td>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modelId" (click)="updateSpeaker(speaker)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-danger ml-2" (click)="deleteSpeaker(speaker)"><i class="fa fa-trash" aria-hidden="true" ></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>