<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Colleges</h1>


    <div class="card shadow mb-4">
        <div class="card-body ">
            <div class="alert alert-info" *ngIf="msg!=null && msg!=undefined">
                <strong>{{msg}}</strong>
            </div>
            <button type="button" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#addCollegeModal" id="addCollegeBtn" (click)="addCollegeBtnFunc()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add College
            </button>
            <div class="table-responsive ">
                <table class="table table-bordered" id="masterCollegesTable" width="100% " cellspacing="0 ">
                    <thead class="bg-dark" style="color: white;">
                        <tr>
                            <th>Name</th>
                            <th>Group</th>
                            <th>PTO Email</th>
                            <th>PTO Mobile</th>
                            <th>PTO Name</th>
                            <th>PTO Mobile</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let college of colleges">
                            <td>{{college.collegeName}}</td>

                            <td>{{college.group}}</td>

                            <td>{{college.ptoEmail}}</td>

                            <td>{{college.ptoMobile}}</td>

                            <td>{{college.ptoName}}</td>

                            <td>{{college.city}}</td>
                            <td>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-primary ml-2" (click)="editCollege(college)"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-danger ml-2"><i class="fa fa-trash" aria-hidden="true"
                                            (click)="openDeleteModal(college)"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="addCollegeModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" *ngIf="!isEdit && !delete">Add College</h5>
                    <h5 class="modal-title" *ngIf="isEdit && !delete">Update College</h5>
                    <h5 class="modal-title" *ngIf="delete">Delete College</h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" style="width:100%;">
                    <div class="container-fluid" *ngIf="!delete">
                        <form #collegeForm="ngForm" (ngSubmit)="addCollege(college)">
                            <div class="form-group" *ngIf="isEdit">
                                <label for="Id">Id</label>
                                <input type="text" name="Id" class="form-control" [(ngModel)]="college.collegeId" #collegeId="ngModel" [readonly]=true>
                            </div>
                            <div class="form-group">
                                <label for="name">Name<span style="color: red;">*</span></label>
                                <input type="text" name="name" class="form-control" [(ngModel)]="college.collegeName" #collegeName="ngModel" required minlength="3">
                            </div>
                            <div *ngIf="collegeName.invalid && (collegeName.dirty || collegeName.touched)" class="alert alert-danger">
                                <div *ngIf="collegeName.errors.required">
                                    College Name is required.
                                </div>
                                <div *ngIf="collegeName.errors.minlength">
                                    College Name be at least 3 characters long.
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="group">Group</label>
                                <input type="text" name="group" class="form-control" [(ngModel)]="college.group" #group="ngModel" minlength="3">
                            </div>
                            <!-- <div *ngIf="group.invalid && (group.dirty || group.touched)" class="alert alert-danger">
                            <div *ngIf="group.errors.required">
                                Group is required.
                            </div>
                            <div *ngIf="group.errors.minlength">
                                Group must be at least 3 characters long.
                            </div>
                        </div> -->



                            <div class="form-group">
                                <label for="city">City<span style="color: red;">*</span></label>
                                <input type="text" name="city" class="form-control" [(ngModel)]="college.city" #city="ngModel" required minlength="3">
                            </div>
                            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert alert-danger">
                                <div *ngIf="city.errors.required">
                                    City is required.
                                </div>
                                <div *ngIf="city.errors.minlength">
                                    City must be at least 3 characters long.
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ptoName">Pto Name<span style="color: red;">*</span></label>
                                <input type="text" name="ptoName" class="form-control" [(ngModel)]="college.ptoName" #ptoName="ngModel" required minlength="3">
                            </div>
                            <div *ngIf="ptoName.invalid && (ptoName.dirty || ptoName.touched)" class="alert alert-danger">
                                <div *ngIf="ptoName.errors.required">
                                    PTO NAME is required.
                                </div>
                                <div *ngIf="ptoName.errors.minlength">
                                    PTO NAME must be at least 3 characters long.
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="ptoEmail">PTO Email<span style="color: red;">*</span></label>
                                <input type="text" name="ptoEmail" class="form-control" [(ngModel)]="college.ptoEmail" #ptoEmail="ngModel" required email>
                            </div>
                            <div *ngIf="ptoEmail.invalid && (ptoEmail.dirty || ptoEmail.touched)" class="alert alert-danger">
                                <div *ngIf="ptoEmail.errors.required">
                                    PTO Email is required.
                                </div>
                                <div *ngIf="ptoEmail.errors.email">
                                    Check Email format.
                                </div>

                            </div>

                            <div class="form-group">
                                <label for="ptoMobile">PTO Mobile<span style="color: red;">*</span></label>
                                <input type="number" name="ptoMobile" class="form-control" [(ngModel)]="college.ptoMobile" #ptoMobile="ngModel" required minlength="9">
                            </div>
                            <div *ngIf="ptoMobile.invalid && (ptoMobile.dirty || ptoMobile.touched)" class="alert alert-danger">
                                <div *ngIf="ptoMobile.errors.required">
                                    PTO MOBILE is required.
                                </div>
                                <div *ngIf="ptoMobile.errors.minlength">
                                    PTO MOBILE must be at least 9 characters long.
                                </div>
                            </div>

                            <button *ngIf="!isEdit" class="btn btn-primary" type="submit" [disabled]="!collegeForm.valid">Save</button>
                            <button *ngIf="isEdit" class="btn btn-primary" type="submit">Update</button>
                            <button *ngIf="!isEdit" class="btn btn-danger" type="reset" style="margin-left : 10px;">Reset</button>
                        </form>

                    </div>
                    <div class="container" *ngIf="delete">
                        <div class="alert alert-danger" role="alert">
                            Do you really want to delete : {{collegeToDelete.collegeName}}
                        </div>
                        <button class="btn btn-danger" (click)="deleteCollege(collegeToDelete.collegeId)">Yes</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>