<div class="container">
    <form #topicForm="ngForm">
        <div class="form-group">
            <label for="Topic">Topic</label>
            <select class="form-control" name="topics" [(ngModel)]="selectedTopic" required>
            <option value="0" selected disabled>Choose Topic</option>
            <option *ngFor="let topic of topics" [ngValue]="topic">{{topic.topicTitle | uppercase}}</option>
          </select>
            <div class="form-group">
                <label for="">Speaker</label>
                <input list="speakers" class="form-control" (keyup)="getSpeakers($event)" name="speaker" id="speaker" placeholder="Enter Speaker Name" required>
                <datalist id="speakers" required>
                    <option *ngFor="let speaker of speakers" value="{{speaker.speakerName}}"></option>
                  </datalist>
                <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
            </div>
            <div class="form-group">
                <label>Planned Date</label>
                <input class="form-control" name="plannedDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Planned Date" [(ngModel)]="plannedDate" required>
                <owl-date-time pickerType="calendar" #dt1></owl-date-time>
            </div>
        </div>
        <button type="button" class="btn btn-primary" [disabled]="!topicForm.valid" (click)="addTopicToBatch()">Add</button>
    </form>
</div>