<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" [ngClass]="{ 'toggled': collapsed }">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-product-hunt" aria-hidden="true"></i>
        </div>
        <div class="sidebar-brand-text mx-1">rograms <sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Menu
    </div>

    <li class="nav-item">
        <a class="nav-link" routerLinkActive="router-link-active">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span>User Management</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
            <!-- <i class="fas fa-fw fa-cog"></i> -->
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <span>Programs Management</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                <a class="collapse-item" [routerLink]="['/admin/programs']" routerLinkActive="router-link-active">Programs</a>
                <a class="collapse-item" [routerLink]="['/admin/batches']" routerLinkActive="router-link-active">Batches</a>
                <a class="collapse-item" [routerLink]="['/admin/topics']" routerLinkActive="router-link-active">Batch-Topics</a>
                <a class="collapse-item" [routerLink]="['/admin/participants']" routerLinkActive="router-link-active">Participants</a>
                <!-- <a class="collapse-item" href="cards.html">Cards</a> -->
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseTwo">
            <!-- <i class="fas fa-fw fa-cog"></i> -->
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span>Master Data Management</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                <a class="collapse-item" [routerLink]="['/admin/mastertopics']" routerLinkActive="router-link-active">Topics</a>
                <a class="collapse-item" [routerLink]="['/admin/tasks']" routerLinkActive="router-link-active">Tasks</a>
                <a class="collapse-item" [routerLink]="['/admin/speakers']" routerLinkActive="router-link-active">Speakers</a>
                <a class="collapse-item" [routerLink]="['/admin/colleges']" routerLinkActive="router-link-active">Colleges</a>
                <!-- <a class="collapse-item" href="cards.html">Cards</a> -->
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <!-- <i class="fas fa-fw fa-cog"></i> -->
            <i class="fas fa-fw fa-table"></i>
            <span>Reports</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <!-- <h6 class="collapse-header">Custom Components:</h6> -->
                <a class="collapse-item" [routerLink]="['/admin/reports']" routerLinkActive="router-link-active">Multi-Session Report</a>
                <!-- <a class="collapse-item" href="cards.html">Cards</a> -->
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <!-- <div class="sidebar-heading">
        Addons
    </div> -->

    <!-- Nav Item - Pages Collapse Menu -->


    <!-- Nav Item - Charts -->


    <!-- Nav Item - Tables -->
    <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/admin/reports']" routerLinkActive="router-link-active">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li> -->

    <!-- Divider -->
    <!-- <hr class="sidebar-divider d-none d-md-block"> -->

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" (click)="toggleCollapsed()"></button>
    </div>

</ul>
<!-- End of Sidebar -->