<div *ngIf="create" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create Batch for {{selectedProgram.name | uppercase}}</h5>
            <button type="button" class="close" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="batchName">Batch Name</label>
                                <input type="text" class="form-control" name="batchName" [(ngModel)]="selectedBatch.batchName">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="batchCode">Batch Code</label>
                                <input type="text" class="form-control" name="batchCode" [(ngModel)]="selectedBatch.batchCode">
                                <small id="helpId" class="form-text text-muted ">Help text</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" name="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{selectedBatch.startDate}}" [(ngModel)]="selectedBatch.startDate" required>
                                <owl-date-time pickerType="calendar" #dt1></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input class="form-control" name="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{selectedBatch.endDate}}" [(ngModel)]="selectedBatch.endDate" required>
                                <owl-date-time pickerType="calendar" #dt2></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-primary" (click)="addBatch()">Add</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-secondary" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>


<!--Update Batch-->

<div *ngIf="update" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Edit Batch : {{selectedBatch.batchName}}</h5>
            <button type="button" class="close" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="batchName">Batch Name</label>
                                <input type="text" class="form-control" name="batchName" [(ngModel)]="selectedBatch.batchName">
                                <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="batchCode">Batch Code</label>
                                <input type="text" class="form-control" name="batchCode" [(ngModel)]="selectedBatch.batchCode">
                                <small id="helpId" class="form-text text-muted ">Help text</small>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Start Date</label>
                                <input class="form-control" name="startDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{selectedBatch.startDate}}" [(ngModel)]="selectedBatch.startDate" required>
                                <owl-date-time pickerType="calendar" #dt1></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>End Date</label>
                                <input class="form-control" name="endDate" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{selectedBatch.endDate}}" [(ngModel)]="selectedBatch.endDate" required>
                                <owl-date-time pickerType="calendar" #dt2></owl-date-time>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-success" (click)="updateBatch()">Save</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-secondary" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>

<!--Delete Batch-->

<div *ngIf="delete" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Batch : {{selectedBatch.batchName}}</h5>
            <button type="button" class="close" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-danger" role="alert">
                            Are you sure you want to delete {{selectedBatch.batchName | uppercase}}?
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-success" (click)="deleteBatch()">Yes</button>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-outline-secondary" id="closeBatchPopup" data-dismiss="modal" aria-label="Close">No</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>