<div style="width:430px;padding-left:30px;">
    <form autocomplete="off" #f="ngForm">
      <div class="form-group" *ngIf="isEdit">
            <label for="id">Task Id</label>
            <input id="id" class="form-control" type="number" name="id" [(ngModel)]="task.taskId" [disabled]="isEdit">
      </div>
      <div class="form-group">
        <label for="">Topic</label>
           <input list="topics" class="form-control" (keyup)="getTopics($event)" name="topic" id="topic" value="{{topic}}" placeholder="Enter Topic Name" required>
            <datalist id="topics" required>
                <option *ngFor="let topic of topics" value="{{topic.topicTitle}}"></option>
            </datalist>
      </div>
      <div class="form-group">
        <label for="taskStatus">Task Status<span style="color: red;">*</span></label>
        <input id="taskStatus" class="form-control" type="number" name="taskStatus" [(ngModel)]="task.taskStatus" required>
      </div>
      <div class="form-group">
        <label for="taskTitle">Task Title<span style="color: red;">*</span></label>
        <input id="taskTitle" class="form-control" type="text" name="taskTitle" [(ngModel)]="task.taskTitle" required>
      </div>
      <div class="form-group">
        <label for="taskDescription">Task Description<span style="color: red;">*</span></label>
        <input id="taskDescription" class="form-control" type="text" name="taskDescription" [(ngModel)]="task.taskDescription" required>
      </div>
      
      
      <button class="btn btn-primary" type="submit" (click)="saveTask()">Save<div style="width:10px;height:10px;"></div> 
      
      </button>
     <button class="btn btn-danger" type="reset" style="margin-left : 10px;" [disabled]="isEdit">Reset</button>
    </form>
</div>