<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tasks</h1>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="form-inline" #topicForm="ngForm">
                <div class="form-group col-sm-10">
                    <label>Topic &nbsp;</label>
                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                        <option value="0" selected disabled>Choose Topic</option>
                        <option *ngFor="let topic of topics" value="{{topic.topicId}}">{{topic.topicTitle}}</option>
                    </select>
                </div>

            </form>
            <button type="button" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#modelId" (click)="createTask()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Task
            </button>

        </div>

        <div *ngIf="display" class="card-body ">
            <div class="card-body ">
                <div class="row" *ngIf="showMsg">
                    <div class="col-xs-12">
                        <p class="alert alert-success">
                            <strong [ngClass]="FadeOutMessage()">Added Successfully</strong>
                        </p>
                    </div>
                </div>
                <div class="table-responsive ">
                    <table class="table table-bordered" id="dataTable" width="100% " cellspacing="0 ">
                        <thead class="bg-dark" style="color: white;">
                            <tr>
                                <th *ngFor="let col of taskColumns">{{col}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let task of tasks">

                                <td>{{task.taskId}}</td>
                                <td>{{task.taskStatus}}</td>
                                <td>{{task.taskTitle}}</td>
                                <td>{{selectedTopic.topicTitle}}</td>
                                <td>{{task.taskDescription}}</td>
                                <td>
                                    <div class="row">
                                        <button type="button" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modelId" (click)="updateTask(task)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                        <button type="button" class="btn btn-outline-danger ml-2" (click)="deleteTask(task)"><i class="fa fa-trash" aria-hidden="true" ></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{dialogTitle}}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <app-task [task]="selectedTask" [topic]="topicName" [isEdit]="isEdit" (saveEvent)="saveTaskAck($event)"></app-task>
            </div>
            <div class="modal-footer">
                <button type="button" id="closePopup" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>