<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Topics</h1>


    <div class="card shadow mb-4">
        <div class="card-body ">
            <div class="alert alert-info" *ngIf="msg!=null && msg!=undefined">
                <strong>{{msg}}</strong>
            </div>

            <button type="button" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#addTopicModal" id="addTopicBtn" (click)="addTopicBtnFunc()">
                <i class="fa fa-plus" aria-hidden="true"></i> Add Topic
            </button>
            <div class="table-responsive ">
                <table class="table table-bordered" id="masterTopicsTable" width="100% " cellspacing="0 ">
                    <thead class="bg-dark" style="color: white;">
                        <tr>
                            <th>Topic</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let topic of mastertopics">
                            <td>{{topic.topicTitle}}</td>
                            <td>{{topic.topicDescription}}</td>
                            <td>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-primary ml-2" (click)="editTopic(topic)"><i class="fa fa-pencil"
                                            aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-danger ml-2"><i class="fa fa-trash"
                                            aria-hidden="true" (click)="openDeleteModal(topic)"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addTopicModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" *ngIf="!isEdit && !delete">Add Topic</h5>
                <h5 class="modal-title" *ngIf="isEdit && !delete">Update Topic</h5>
                <h5 class="modal-title" *ngIf="delete">Delete Topic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid" *ngIf="!delete">
                    <form #topicForm="ngForm" (ngSubmit)="addTopic(masterTopic)">
                        <div class="form-group" *ngIf="isEdit">
                            <label for="Id">Id</label>
                            <input type="text" name="Id" class="form-control" [(ngModel)]="masterTopic.topicId" #titleId="ngModel" [readonly]=true>
                        </div>
                        <div class="form-group">
                            <label for="Title">Title<span style="color: red;">*</span></label>
                            <input type="text" name="title" class="form-control" [(ngModel)]="masterTopic.topicTitle" #title="ngModel" required minlength="3">
                        </div>
                        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                            <div *ngIf="title.errors.required">
                                Title is required.
                            </div>
                            <div *ngIf="title.errors.minlength">
                                Title must be at least 3 characters long.
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description<span style="color: red;">*</span></label>
                            <textarea type="textarea" name="description" class="form-control" [(ngModel)]="masterTopic.topicDescription" #description="ngModel" required minlength="3"></textarea>

                        </div>
                        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
                            <div *ngIf="description.errors.required">
                                Description is required.
                            </div>
                            <div *ngIf="description.errors.minlength">
                                Description must be at least 3 characters long.
                            </div>
                        </div>

                        <button *ngIf="!isEdit" class="btn btn-primary" type="submit" [disabled]="!topicForm.valid">Save</button>
                        <button *ngIf="isEdit" class="btn btn-primary" type="submit">Update</button>
                        <button *ngIf="!isEdit" class="btn btn-danger" type="reset" style="margin-left : 10px;">Reset</button>

                    </form>

                </div>

                <div class="container" *ngIf="delete">
                    <div class="alert alert-danger" role="alert">
                        Do you really want to delete : {{topicToDelete.topicTitle}}
                    </div>
                    <button class="btn btn-danger" (click)="deleteTopic(topicToDelete.topicId)">Yes</button>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>