<div *ngIf="!displaydetails" class="modal-body">

    <div *ngIf="selectedBatchTopic!=undefined" class="container">
        <h5>Batch: {{selectedBatch.batchName}}</h5>
        <h5>Topic: {{selectedBatchTopic.topicModel.topicTitle}}</h5>
        <hr>
        <form>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Enter Subject" [(ngModel)]="webinar.subject">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Select Time Zone</label>
                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                        <option value="0" selected disabled>Choose Time-Zone</option>
                        <option *ngFor="let timezone of timezones" value="{{timezone.timeZone}}">{{timezone.timeZone}}</option>
                    </select>
                </div>
            </div>



            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Start Time</label>
                    <input class="form-control" name="startTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Start Time" [(ngModel)]="webinar.startTime" required>
                    <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="form-group col-sm-6">
                    <label>End Time</label>
                    <input class="form-control" name="endTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="End Time" [(ngModel)]="webinar.endTime" required>
                    <owl-date-time #dt2></owl-date-time>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Description</label>
                    <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="webinar.description"></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary" (click)="createWebinar()">Create Webinar</button>
        </form>
    </div>
</div>

<div *ngIf="displaydetails" class="modal-body">
    <div *ngIf="selectedBatchTopic!=undefined" class="container">
        <h5>Batch: {{selectedBatch.batchName}}</h5>
        <h5>Topic: {{selectedBatchTopic.topicModel.topicTitle}}</h5>
        <hr>
        <form *ngIf="!edit">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="subject">Subject</label>
                    <input type="text" class="form-control" name="subject" aria-describedby="helpId" [(ngModel)]="webinar.subject" readonly>
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="registrationUrl">Registration Url</label>
                    <input type="text" class="form-control" name="registrationUrl" aria-describedby="helpId" [(ngModel)]="webinar.registrationUrl" readonly>
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="timeZone">Time Zone</label>
                    <input type="text" class="form-control" name="timeZone" aria-describedby="helpId" [(ngModel)]="webinar.timeZone" readonly>
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" aria-describedby="helpId" [(ngModel)]="webinar.startTime" readonly>
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                </div>
                <div class="form-group col-sm-6">
                    <label for="endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" aria-describedby="helpId" [(ngModel)]="webinar.endTime" readonly>
                    <!-- <small id="helpId" class="form-text text-muted">Help text</small> -->
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="3" [(ngModel)]="webinar.description" readonly></textarea>
                </div>
            </div>
            <button type="button" class="btn btn-outline-primary" (click)="editWebinar()">Edit</button>
        </form>
        <form *ngIf="edit">
            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Enter Subject" [(ngModel)]="webinar.subject">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-12">
                    <label for="timezone">Select Time Zone</label>
                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                            <option value="0" selected disabled>{{webinar.timeZone}}</option>
                            <option *ngFor="let timezone of timezones" value="{{timezone.timeZone}}">{{timezone.timeZone}}</option>
                        </select>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Start Time</label>
                    <input class="form-control" name="startTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="{{webinar.startTime}}" [(ngModel)]="webinar.startTime" required>
                    <owl-date-time #dt1></owl-date-time>
                </div>
                <div class="form-group col-sm-6">
                    <label>End Time</label>
                    <input class="form-control" name="endTime" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="{{webinar.endTime}}" [(ngModel)]="webinar.endTime" required>
                    <owl-date-time #dt2></owl-date-time>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12">
                    <label>Description</label>
                    <textarea class="form-control" name="description" rows="3" [(ngModel)]="webinar.description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-success" (click)="saveWebinar()">Save</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-outline-secondary" (click)="cancelEditWebinar()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>