<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Multi-Session Report</h1>


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="form-inline" #topicForm="ngForm">
                <div class="form-group col-sm-10">
                    <label for="BatchName">Batch &nbsp;</label>
                    <!-- <select class="form-control select2 select2-danger" (change)="selectChangeHandler($event)" required data-dropdown-css-class="select2-warning" style="width: 60%;">
                        <option *ngFor="let batch of batches" value="{{batch}}">{{batch.batchName}}</option>
                    </select> -->
                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                        <option value="0" selected disabled>Choose Batch</option>
                        <option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.batchName}}</option>
                    </select>
                </div>
                <!-- <div class="col-sm-7">
                    <button type="button" class="btn btn-primary" (click)="fetchReport()">Filter</button>
                </div> -->
                <div class="col-sm-">
                    <button class="btn btn-success " type="button">
                        <i class="fas fa-file-download "></i> Download</button></div>
            </form>

        </div>
        <div *ngIf="display" class="card-body ">

            <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100% " cellspacing="0 ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>College</th>
                            <th>Location</th>
                            <th>Total Attended</th>
                            <th>Total Not Attended</th>
                            <th *ngFor="let session of students[0].sessionsOfAStudent">
                                {{session.sessionName | uppercase}}</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>College</th>
                            <th>Sessions Attended</th>
                            <th>Sessions Not Attended</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        <tr *ngFor="let student of students ">
                            <td>{{student.studentName}}</td>
                            <td>{{student.studentEmailId}}</td>
                            <td>{{student.collegeName}}</td>
                            <td>{{student.location}}</td>
                            <td>{{student.totalSessionsAttended}}</td>
                            <td>{{student.totalSessionsNotAttended}}</td>
                            <td *ngFor="let session of student.sessionsOfAStudent ">
                                <div *ngIf="session.sessionStatus ">
                                    <i class="fa fa-check " style="color: green; " aria-hidden="true "></i>
                                </div>
                                <div *ngIf="!session.sessionStatus ">
                                    <i class="fa fa-times " style="color: red; " aria-hidden="true "></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>