<div class="container">
    <form autocomplete="off" #f="ngForm">
        <div class="form-group" *ngIf="isEdit">
            <label for="id">Speaker Id</label>
            <input id="id" class="form-control" type="text" name="id" [(ngModel)]="speaker.speakerId" [disabled]="isEdit">
        </div>
        <div class="form-group">
            <label for="speakerName">Speaker Name <span style="color: red;">*</span></label>
            <input id="speakerName" class="form-control" type="text" name="speakerName" [(ngModel)]="speaker.speakerName" required>
        </div>
        <div class="form-group">
            <label for="speakerEmail">Speaker Email<span style="color: red;">*</span></label>
            <input id="speakerEmail" class="form-control" type="text" name="speakerEmail" [(ngModel)]="speaker.speakerEmail" required>
        </div>
        <div class="form-group">
            <label for="speakerProfile">Speaker Profile<span style="color: red;">*</span></label>
            <input id="speakerProfile" class="form-control" type="text" name="speakerProfile" [(ngModel)]="speaker.speakerProfile" required>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-outline-success" type="submit" (click)="saveSpeaker()">Save    
            </button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-outline-danger" type="reset" [disabled]="isEdit">Reset</button>
            </div>
        </div>
    </form>
</div>