<!-- Begin Page Content -->
<div class="container-fluid">


    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Batch-Topics</h1>


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <form class="form-inline" #topicForm="ngForm">
                <div class="form-group col-sm-10">
                    <label>Batch &nbsp;</label>

                    <select class="form-control" (change)="selectChangeHandler($event)" required>
                        <option value="0" selected disabled>Choose Batch</option>
                        <option *ngFor="let batch of batches" value="{{batch.id}}">{{batch.batchName}}</option>
                    </select>
                </div>

            </form>

        </div>

        <div *ngIf="display" class="card-body ">

            <div *ngIf="message!=null" [class]="styleAlert" role="alert">
                {{message}}
            </div>
            <button type="button" class="btn btn-outline-primary mb-2 fa-pull-right" data-toggle="modal" data-target="#modelId">
            <i class="fa fa-plus" aria-hidden="true"></i> Add Topic
           </button>
            <div class="table-responsive ">
                <table class="table table-bordered" id="dataTable" width="100% " cellspacing="0 ">
                    <thead class="bg-dark" style="color: white;">
                        <tr>
                            <th>Planned Date</th>
                            <th>Topic</th>
                            <th>Speaker</th>

                            <th>Webinar</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let topic of topics">
                            <td>{{topic.plannedDate}}</td>
                            <td>{{topic.topicModel.topicTitle}}</td>
                            <td>{{topic.speakerModel.speakerName}}</td>

                            <td *ngIf="topic.webinarKey==null"><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modal" (click)="createWebinar(topic)">
                                    Create
                                </button></td>
                            <td *ngIf="topic.webinarKey!=null"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal" (click)="webinarDetails(topic)">Details</button></td>
                            <td>
                                <div class="row">
                                    <button type="button" class="btn btn-outline-primary ml-2" data-toggle="modal" data-target="#modelId"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-danger ml-2" data-toggle="modal" data-target="#modelId"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    <button type="button" class="btn btn-outline-secondary ml-2" data-toggle="modal" data-target="#emailModal" (click)="sendEmail(topic)"><i class="fa fa-envelope-open" aria-hidden="true"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<!-- <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Topic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <app-topic [selectedBatch]="selectedBatch"></app-topic>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div> -->


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalLabel">Webinar</h4>
                <button type="button" class="close" data-dismiss="modal" id="closePopup" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <app-webinar [selectedBatchTopic]="selectedBatchTopic" [webinar]="webinar" [displaydetails]="displaydetails" [selectedBatch]="selectedBatch" (webinarEvent)="webinarComponentAck($event)"></app-webinar>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
    <app-email [selectedBatchTopic]="selectedBatchTopic" [emailSending]="emailSending" [selectedBatch]="selectedBatch" (emailEvent)="emailComponentAck($event)"></app-email>
</div>