<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6 p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                                <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="emailId" name="emailId" aria-describedby="emailHelp">
                                </div>
                                <button class="btn btn-primary btn-user btn-block">
                Reset Password
              </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" [routerLink]="['/register']" routerLinkActive="router-link-active">Create an Account!</a>
                            </div>
                            <div class="text-center">
                                <a class="small" [routerLink]="['/login']" routerLinkActive="router-link-active">Already have an account? Login!</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>